/*
<элемент 1> + <элемент 2> { <стиль> }
Стиль будет применен только к первому тэгу <p>,
 непосредственно следующему за тэгом <h1>
 */
h1+p {
    font-size: smaller;
}
/*
<элемент 1> > <элемент 2> { <стиль> }
Стиль будет применен ко всем тэгам,
непосредственно вложенным в первый тэг
*/
ul>li {
    background: red;
}
/*
<элемент 1> ~ <элемент 2> { <стиль> }

*/
ul li {
    background: green;
}
